#!/bin/bash

#colores
#ejemplo: echo -e "${verde} La opcion (-e) es para que pille el color.${borra_colores}"

rojo="\e[0;31m\033[1m" #rojo
verde="\e[;32m\033[1m"
azul="\e[0;34m\033[1m"
amarillo="\e[0;33m\033[1m"
rosa="\e[0;35m\033[1m"
turquesa="\e[0;36m\033[1m"
borra_colores="\033[0m\e[0m" #borra colores

#esto es lo que muestra al cargar laterminal
echo -e " Opciones de alias_bashrc ( comando = opciones_alias )."



opciones_alias(){
echo ""
echo " - Opciones de alias_bashrc -"
echo ""
echo " actualizar_alias_bashrc"
echo " desistalar_alias_bashrc"
echo " alias_nuevo"
echo " borrar_alias"
echo " backup_alias"
echo " restore_alias"
echo -e "${azul} editar_fichero_alias${borra_colores}"
echo ""
}

#actualizar el script
actualizar_alias(){

#comprueba conexion
if ping -c1 google.com &>/dev/null
then
    conexion="SI"
    echo ""
    echo -e " Conexion a internet = ${verde}SI${borra_colores}"
else
    conexion="NO"
    echo ""
    echo -e " Conexion a internet = ${rojo}NO${borra_colores}"
    echo ""
    echo -e "${rojo} No se puede comprobar la actualizacion sin conexion a internet.${borra_colores}"
fi


archivo_local="alias_bashrc.config" # Nombre del archivo local
ruta_repositorio="https://github.com/sukigsx/alias_bashrc.git" #ruta del repositorio para actualizar y clonar con git clone

# Obtener la ruta del script
descarga="/home/$(whoami)/.config/alias_bashrc"
git clone $ruta_repositorio /tmp/comprobar >/dev/null 2>&1

diff $descarga/$archivo_local /tmp/comprobar/$archivo_local >/dev/null 2>&1


if [ $? = 0 ]
then
    #esta actualizado, solo lo comprueba
    echo ""
    echo -e " Actualizado = ${verde}SI${borra_colores}"
    echo ""
    chmod -R +w /tmp/comprobar
    rm -R /tmp/comprobar
    actualizado="SI"
else
    #hay que actualizar, comprueba y actualiza
    echo ""
    echo -e "${amarillo} EL script${borra_colores} $0 ${amarillo}NO esta actualizado.${borra_colores}"
    echo -e "${verde} Se procede a su actualizacion automatica.${borra_colores}"
    sleep 3
    mv /tmp/comprobar/$archivo_local $descarga
    chmod -R +w /tmp/comprobar
    rm -R /tmp/comprobar
    echo ""
    echo -e "${amarillo} El script se ha actualizado, es necesario reiniciar la terminal.${borra_colores}"
    echo -e ""
    read -p " Pulsa una tecla para continuar." p
    exit
fi
}


